@page "/ubicacionProductos"

@using System.ComponentModel
@using Models
@using AntDesign.TableModels
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager
@inject ModalService _modalService
@inject MessageService _message

<div class="col-sm-12" style="text-align:left;margin-top:10px;">
    <h3>Ubicaciones</h3>
</div>

<div>
    <Row Style="margin-bottom:10px;" Justify="end">
        <Col Span="3">
        <Select DataSource="@_list"
                @bind-Value="@_selectedValue1"
                ValueName="@nameof(Person.Value)"
                LabelName="@nameof(Person.Name)"
                DisabledName="@nameof(Person.IsDisabled)"
                Style="width:120px"
                OnSelectedItemChanged="OnSelectedItemChangedHandler">
        </Select>
        </Col>
        <Col Span="9">
        <Search EnterButton="true" OnSearch="buscar" @bind-Value="@txtValue" Placeholder="Buscar ubicación" />
        </Col>
        <Col Span="3">
        <div style="text-align:right; width:87%;">
            <a title="Agregar nuevo almacen" @onclick="AltaUbicacion"><i style="margin-right:5px;">Agregar</i><span class="oi oi-plus"></span></a>
        </div>
        </Col>
    </Row>
</div>


<Table @ref="table"
       TItem="UbicacionModel"
       DataSource="@ubicaciones"
       Total="_total"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       @bind-SelectedRows="selectedRows"
       OnChange="OnChange">
    <Selection Key="@(context.Id)" />
    <Column Title="Clave" @bind-Field="@context.Id" Sortable />
    <Column @bind-Field="@context.Nombre" Sortable />
    <Column @bind-Field="@context.Descripcion" Sortable />
    <Column @bind-Field="@context.Status" Sortable />
    <Column @bind-Field="@context.Dimension" Sortable />
    <Column @bind-Field="@context.Pasillo" Sortable />
    <Column @bind-Field="@context.Estante" Sortable />
    <Column @bind-Field="@context.Nivel" Sortable />
    <ActionColumn>
        <Space>
            <a title="Editar" @onclick="()=>Edit(context.Id)">
                <span class="oi oi-pencil"></span>
            </a>
        </Space>
    </ActionColumn>
    <ActionColumn>
        <Space>
            <a title="Eliminar" @onclick="()=>Delete(context)">
                <span class="oi oi-trash"></span>
            </a>
        </Space>
    </ActionColumn>
</Table>

<br />
<p>PageIndex: @_pageIndex | PageSize: @_pageSize | Total: @_total</p>


@using System.Text.Json;
@code {

    [Inject]
    public NavigationManager NavManager { get; set; }

    List<UbicacionModel> ubicaciones = null;
    List<UbicacionModel> busquedaUbicacion = null;

    IEnumerable<UbicacionModel> selectedRows;
    ITable table;

    int _pageIndex = 1;
    int _pageSize = 4;
    int _total = 0;
    private string txtValue { get; set; }
    List<Person> _list;
    string _selectedValue1;


    protected override async Task OnInitializedAsync()
    {

        ubicaciones = await localStorage.GetItemAsync<List<UbicacionModel>>("Ubicaciones");

        if (ubicaciones == null)
        {
            ubicaciones = new List<UbicacionModel> {
                new UbicacionModel{ Id = "UBI-PV-01", Nombre = "Productos varios", Descripcion = "Estante para el guardado de productos varios", Status = "Activo", Dimension = "2D", Pasillo = 1, Estante = 1, Nivel= 0},
                new UbicacionModel { Id = "UBI-RF-01", Nombre = "Refacciones", Descripcion = "Estante para el guardado de refacciones", Status = "Activo", Dimension = "3D", Pasillo = 1, Estante = 2, Nivel = 4 },
                new UbicacionModel { Id = "UBI-MP-01", Nombre = "Materia prima de primera", Descripcion = "Estante para el guardado de materia prima de primera", Status = "Activo", Dimension = "2D", Pasillo = 1, Estante = 3, Nivel = 0 }
            };
        }

        _total = ubicaciones.Count;

        _list = new List<Person> {
            new Person {Value = "Clave", Name = "Clave"},
            new Person {Value = "Nombre", Name = "Nombre"},
            new Person {Value = "Descripcion", Name = "Descripción"},
            new Person {Value = "Status", Name = "Status"},
        };
    }

    class Person
    {
        public string Value { get; set; }
        public string Name { get; set; }
        public bool IsDisabled { get; set; }
    }

    private void OnSelectedItemChangedHandler(Person value)
    {
        Console.WriteLine($"selected: ${value?.Name}");
    }


    public async Task OnChange(QueryModel<UbicacionModel> queryModel)
    {
        Console.WriteLine(JsonSerializer.Serialize(queryModel));
    }

    public void RemoveSelection(string id)
    {
        var selected = selectedRows.Where(x => x.Id != id);
        selectedRows = selected;
    }

    private async Task Delete(UbicacionModel item)
    {
        bool borrarUbicacion;
        borrarUbicacion = await JsRuntime.InvokeAsync<bool>("blazorInterop.deleteSwal", item.Nombre);
        if (borrarUbicacion)
        {
            ubicaciones.Remove(item);
            await localStorage.SetItemAsync<List<UbicacionModel>>("Ubicaciones", ubicaciones);
            _total = ubicaciones.Count;
        }
    }

    private async Task Edit(string id)
    {
        await localStorage.SetItemAsync<List<UbicacionModel>>("Ubicaciones", ubicaciones);
        NavManager.NavigateTo($"editarUbicacion/{id}");
    }

    public async Task AltaUbicacion()
    {
        await localStorage.SetItemAsync<List<UbicacionModel>>("Ubicaciones", ubicaciones);
        NavManager.NavigateTo("altaubicacion");
    }

    private async Task buscar()
    {
        ubicaciones = await localStorage.GetItemAsync<List<UbicacionModel>>("Almacenes");

        if (txtValue != null)
        {
            switch (_selectedValue1)
            {
                case "Nombre":
                    ubicaciones = ubicaciones.FindAll(x => x.Nombre.Contains(txtValue, StringComparison.CurrentCultureIgnoreCase));
                    break;
                case "Descripcion":
                    ubicaciones = ubicaciones.FindAll(x => x.Descripcion.Contains(txtValue, StringComparison.CurrentCultureIgnoreCase));
                    break;
                case "Clave":
                    ubicaciones = ubicaciones.FindAll(x => x.Id.Contains(txtValue, StringComparison.CurrentCultureIgnoreCase));
                    break;
                case "Status":
                    ubicaciones = ubicaciones.FindAll(x => x.Status.Contains(txtValue, StringComparison.CurrentCultureIgnoreCase));
                    break;
                default:
                    await JsRuntime.InvokeAsync<object>(identifier: "swal", $"Selecciona un filtro");
                    break;
            }
        }
        await JsRuntime.InvokeAsync<object>(identifier: "swal", $"Bucando...{txtValue}");
    }

}

